body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size:16px;
  color:#262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stickyinfo{
  position:fixed;
  text-align: center;
  font-style: italic;
  color: #1992f6;
  background-color: #aacce2;
  border-bottom: 1px solid #1992f6;
  padding:10px 0;
  width:100%;
  font-weight: 700;
}
.headImg{
  margin:auto;
  display: flex;
  justify-content: center;
  margin:50px 0;
}

.head{
  padding:40px 20px 60px 20px;
  background-color: rgb(250,250,250);
}

.heading{
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin: 10px auto;
  text-align: center;
}
.subNote{
  font-style:italic;
}
.subHead{
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  max-width: 720px;
  color:#262626;
  margin: auto;
  text-align: center;
  line-height: 36px;
  margin-bottom:50px;
}

.title{
  display: flex;
  max-width: 1272px;
  font-size:32px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  color: #1992f6;
  border-bottom:4px solid #1992f6;
  margin:auto;
  padding-top:20px;
}


.filters{
  display: flex;
  align-items: center;
  color: #1992f6;
  margin-top:10px;
}

.filter-title{
  font-size: 16px;
  font-weight: 700;
  color:#bbb;
  margin-right:5px;
}

.filters-unit{
  margin: 0;
  font-weight: 700;
  color:#262626;
  margin-top:20px;
}
.filters-unit-top{
  margin: 20px 100px 0 0px;
  font-weight: 700;
  color:#262626;
}
.note{
  position: relative;
  display: inline-block;
  top: 600px;  
  left: 640px;
  margin-left:-250px;
  width:250px;
}
.infoBox{
  background-color: #Fafafa;
  margin-bottom:10px;
  padding:20px;
  border-radius: 2px;
  border:1px solid #ddd;
}
.legendBox{
  background-color: #Fafafa;
  margin-bottom:10px;
  padding:20px;
  border-radius: 2px;
  border:1px solid #ddd;
}
.infoBoxTitle{
  font-size:18px;
  font-weight:700;
  margin-bottom:10px;
}
.infoBoxValue{
  font-size:36px;
  margin-top:20px;
}
.filters-top{
  color: #1992f6;
  margin:auto;
}
.filters-level-one{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters-container{
  background-color: rgb(245, 245, 245);
  border:1px solid #ddd;
  padding:0px 20px 20px 20px;
}
.allianceSelection{
  margin-right:30px;
}

.vizArea{
  margin:auto;
  flex-grow:1;
}


.infoTitle{
  font-size: 28px;
  font-weight:700;
}


.infoSection::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
  background-color: #F5F5F5;
  display:none;
}

.infoSection::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.infoSection::-webkit-scrollbar-thumb
{
	background-color: #ddd;
	border-radius: 10px;
}


.filterBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
  background-color: #F5F5F5;
  display:none;
}

.filterBar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.filterBar::-webkit-scrollbar-thumb
{
	background-color: #ddd;
	border-radius: 10px;
}

.partyBars{
  margin:15px 0;
  display: flex;
  cursor: pointer;
}
.party_bars{
  margin:15px 0;
  display: flex;
  cursor: pointer;
}
.partyNames{
  font-weight: 700;
  width:50px;
}

.partyBarBG{
  background-color: #fff;
  border:1px solid #eee;
  flex-grow: 1;
  display: flex;
}
.text{
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: 'Source Sans Pro', sans-serif !important;

}
.ui.selection.dropdown{
  width: 100% !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  border:1px solid #c5c9d0 !important;
  padding-top:5px !important;
  padding-bottom:5px !important;
  padding-left:10px !important;
}

.filters-unit-two{
  flex-grow:1;
}

div.text{
  width:225px;
  text-transform: none !important;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;    
}

.AllianceBars{
  margin:15px 0;
}
.AllianceNames{
  font-weight: 700;
  font-size:18px;
  width:100%;
  margin-bottom:10px;
  padding-top:20px;
  border-top:1px solid rgba(0,0,0,0.1)
}

.AllianceBarsBG{
  background-color: #fff;
  border:1px solid #eee;
  flex-grow: 1;
  display: flex;
  margin-bottom: 5px;
}

.seatShare{
  font-weight: 700;
  margin-left: 5px;
}

.tooltip {
  position: absolute;	
  background-color: rgba(250,250,250,1);
  opacity:0.75;
  padding:10px;
  display:none;
}

.tooltip_Head{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom:1px solid #ddd;
  align-items: baseline;
}

.bold{
  font-weight:700;
}

.const_Name{
  font-size:16px;
  font-weight:700;
  margin-right: 20px;
}

.Winner_Name{
  font-size:18px;
  margin-bottom: 5px;
  margin-right: 20px;
  text-transform: capitalize;
}

.Winner_Party{
  font-size:20px;
  margin-bottom: 5px;
}

.Winner_Info{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Category_Name{
  font-size:14px;
  color:#999;
  margin-bottom:15px;
  font-weight: 700;
}

.Voter_Turnout_tooltip{
  font-size:18px;
  color:#666;
}

.Margin_Percent{
  font-size:18px;
  color:#666;
}

.hexHighlight{
  pointer-events:none;
}

.seat_total{
  font-size: 20px;
}
.AllianceBar{
  display: flex;
  cursor: pointer;
}
.alliancepartyNames{
  opacity: 0.4;
}

.share {
  padding:20px 0;
  background-color: rgb(245, 245, 245);
  margin:auto;
  font-size:18px;
  color:"#262626";
  text-align: center;
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
}
.footerInfo{
  background-color: rgb(250,250,250);
  padding: 40px 0;
  font-size:14px;
  line-height: 28px;
  font-weight: 700;
}

.privacy{
  font-weight: 400;
}

.footerText{
  max-width: 1272px;
  margin:auto;
}
.icons{
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.SocialMediaShareButton--facebook {
  margin-right:20px;
}
.map{
  width: 808px;
  margin:auto;
}

a{
  text-decoration: none;
  color:#1992f6;  
}
a:visited{
  color:#1992f6; 
}

.winner_party_text{
  display: flex;
  align-items: baseline;
}

.Winner_Party_Full_Name{
  font-size: 14px;
  font-weight: 700;
  color:#999;
  margin-left:3px;
}

.graphArea{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.filterBar{
  width: 20vw;
  height: 900px;
  background: #fcfcfc;
  border-right: 1px solid #f1f1f1;
  padding: 10px 10px 40px 25px;
  overflow: auto;
}

.infoBar{
  width: 25vw;
  height: 900px;
  background: #fcfcfc;
  border-left: 1px solid #f1f1f1;
  padding: 10px 10px 40px 10px;
  display: inline;
  overflow: auto;
}

@media only screen and (max-width: 1439px) {
  .graphArea {
    flex-wrap: wrap;
  }
  .infoBar {
    padding:30px 20px;
    width: 100%;
    height: auto;
    border-top: 1px solid #f1f1f1;
    border-left: 0px solid #f1f1f1;
  }
}
@media only screen and (max-width: 1230px) {
  .filterBar {
    padding:20px 20px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f1f1f1;
    border-left: 0px solid #f1f1f1;
  }
  .filters-checkbox-unit{
    display:flex;
    flex-wrap: wrap;
  }
  .filters-unit-two{
    flex-shrink: 0;
    width:18vw;
    margin-right:40px;
    justify-content: flex-start;
  }
  .partyDropDown{
    flex-shrink: 0;
    width: 95vw;
    margin-right:40px;
    justify-content: flex-start;
  }
}
.filterCheckBox{
  display: grid !important;
  margin-top: 0px !important;
}
.ui.checkbox label, .ui.checkbox+label {
  color: inherit !important;
}

.ui.checkbox{
  margin: 0 !important;
  margin-top: 10px !important;
  font-weight:700 !important;
  text-transform: capitalize !important;
  color:#666 !important;
}

.ui.checkbox.checked{
  font-weight:700 !important;
  color: #1992f6 !important;
}

.filterBarTitle{
  color: #262626 !important;
  font-weight: 700;
  margin:40px 0px;
  font-size:30px;

}

.infoTitle{
  color: #262626 !important;
  font-weight: 700;
  margin:40px 0 10px 0;
  font-size:30px;
}

.map-message{
  background-color: rgb(250,250,250);
  margin:auto;
  margin-top:25px;
  width:calc(100% - 50px);
  padding:15px 10px;
  display: flex;
  justify-content: center;
  border:1px solid #f1f1f1;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
}

.ui.celled.table tr td, .ui.celled.table tr th {
  border-left: 0 !important;
}
.ui.table thead th{
  padding:5px 15px 5px 5px !important;
  background-color: none !important;
}

.ui.table{
  border: 0 !important;
  background: none !important;
}

.ui.table td{
  padding:5px !important;
  padding-right:15px !important;
}
.ui.table td>.ui.ribbon.label{
  left:0 !important;
  margin-right: 0 !important;
  padding: 3px !important;
}
.ui.ribbon.label {
  border-radius: 2px !important;
  border-color: rgba(0,0,0,0) !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.right{
  text-align: right !important;
}

.ui.table thead th{
  background: none !important; 
}