.yearSelector{
  display: flex;
}

.scroll-buttons{
  background-color:#fff;
  color:#1992f6;
  margin:0;
  border: 1px solid #c5c9d0;
  font-family: 'Source Sans Pro', sans-serif;
  padding:20px 20px 10px 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.scroll-link{
  margin-right:20px;

}
.scroll-link:last-of-type{
  margin-right:0;
}

.scroll-buttons>a{
  text-decoration: none;
  color:inherit !important;  
}
.scroll-buttons>a:visited{
  color:inherit !important;  
}

.button-icon{
  font-size: 30px;

}
.button{
  background-color:#fff !important;
  color:#aaa !important;
  margin:0;
  border: 1px solid #c5c9d0 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  border-radius: 3px !important;
  padding:12px 20px !important;
  font-size: 14px;
  font-weight: 700 !important;
  text-align: center;
  flex-grow: 1;
  margin-right:5px !important;
  cursor: pointer;
}

.button:last-of-type{
  margin-right:0px !important;
}

.activeButton{
  background-color:#1992f6 !important;
  font-weight: 700;
  color:#fff !important;
}

.button:hover{
  color:#262626 !important;

}