.minister-list{
  display:flex;
  max-width: 1440px;
  flex-wrap: wrap;
}

.table-body{
  padding: 10px 20px 10px 10px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.05);
  margin: 0px auto 15px auto;
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  font-size:16px;
  font-weight: 400;
  line-height: 26px;
}

.table-no{
  width:2.5%;
  min-width: 25px;
  margin-left:1px;
  color:#999;
}

.table-name{
  width:24.5%;
  min-width: 300px;
  font-size: 16px;
  padding-right: 15px;
  font-weight: 700;
}
.table-constituency{
  width:15%;
  min-width: 150px;
  padding-right: 15px;
}
.table-education{
  width:16.5%;
  min-width: 150px;
  padding-right: 15px;
}
.table-assets{
  width:9%;
  min-width: 100px;
  text-align: right;
}
.table-criminal-cases{
  width:9%;
  min-width: 100px;
  padding-right: 15px;
}
.table-party{
  width:8.5%;
  min-width: 100px;
  font-weight: 700;
}
.table-state{
  width:14%;
  min-width: 150px;
  font-weight: 400;
}

.mp-table-head{
  font-size: 14px;
  text-transform: uppercase;
  color:#999;
  font-weight: 700;
  cursor: pointer;
}

.mp-table-head-bg{
  padding-top: 10px;
  padding-bottom:10px; 
  font-weight: 700;
  box-shadow: 0 1px 15px rgba(0,0,0,0);
  margin: 0px auto;
  z-index: 1000;
}

.mp-table-head:hover{
  color:#262626;
}

.mp-table-head-bg{
  margin-top:80px;
}
.table-no{
  cursor: default;
}

.table-no:hover{
  color:#999;
}