.minister-list{
  display:flex;
  max-width: 1440px;
  flex-wrap: wrap;
}

.table-body{
  padding: 10px 20px 10px 10px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.05);
  margin: 0px auto 15px auto;
  display: flex;
  max-width: 1440px;
  font-size:16px;
  font-weight: 400;
  line-height: 26px;
}

.table-name{
  width:25%;
  font-size: 16px;
  padding-right: 15px;
  font-weight: 700;
}
.table-constituency{
  width:15%;
  padding-right: 15px;
}
.table-education{
  width:16.5%;
  padding-right: 15px;
}
.table-assets{
  width:10%;
  text-align: right;
}
.table-criminal-cases{
  width:10%;
  padding-right: 15px;
}
.table-party{
  width:8.5%;
  font-weight: 700;
}
.table-state{
  width:15%;
  font-weight: 400;
}

.mp-table-head{
  font-size: 14px;
  text-transform: uppercase;
  color:#999;
  font-weight: 700;
  cursor: pointer;
}

.mp-table-head-bg{
  padding-top: 10px;
  padding-bottom:10px; 
  font-weight: 700;
  box-shadow: 0 1px 15px rgba(0,0,0,0);
  margin: 0px auto;
  z-index: 1000;
}

.mp-table-head:hover{
  color:#262626;
}

.mp-table-head-bg{
  margin-top:80px;
}